<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/templates/_layout-master}">
<head>
<meta charset="UTF-8">
<title>PRWSTJ - User</title>
</head>
<body>
	<div layout:fragment="content">
		<form th:action="@{/users/signup}" method="POST" th:object=${user}>
			<p class="text-center h4">Sign up</p>
			<div class="form-row">
				<div class="form-group col-12 col-md-6">
					<label for="name">Nome</label>
					<input type="text" class="form-control" placeholder="Nome" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field=*{name}>
					<div class="invalid-feedback" th:errors="*{name}"></div>
				</div>

				<div class="form-group col-12 col-md-6">
					<label for="email">E-mail</label>
					<input type="email" class="form-control" placeholder="E-mail" th:classappend="${#fields.hasErrors('email')} ? is-invalid" th:field=*{email}>
					<div class="invalid-feedback" th:errors="*{email}"></div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-12 col-md-6">
					<label for="password">Senha</label>
					<input type="password" class="form-control" placeholder="Senha" th:classappend="${#fields.hasErrors('password')} ? is-invalid" th:field=*{password}>
					<div class="invalid-feedback" th:errors="*{password}"></div>
				</div>

				<div class="form-group col-12 col-md-6">
					<label for="passwordConfirm">Confirmar senha</label>
					<input type="password" class="form-control" placeholder="Confirme" th:classappend="${#fields.hasErrors('passwordConfirm')} ? is-invalid" th:field=*{passwordConfirm}>
					<div class="invalid-feedback" th:errors="*{passwordConfirm}"></div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary col-12 col-sm-3">Cadastrar</button>
		</form>
	</div>
</body>
</html>