<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>PRWSTJ</title>
	<link rel="shortcut icon" th:href="@{/resources/images/favicon.png}"/>
	
	<!-- Bootstrap  -->
	<link th:href="@{/resources/vendors/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet">
	<!-- PRWSTJ -->
	<link th:href="@{/resources/css/prwstj.css}" rel="stylesheet">
	<!-- _layout-master -->
	<link th:href="@{/resources/css/_template-master.css}" rel="stylesheet">
</head>
<body class="d-flex flex-column">
	<!-- Header -->
	<nav th:replace="/templates/fragments/_layout-master/header :: header"></nav>
	
	<div id="page-content">
		<!-- Conteúdo -->
		<div layout:fragment="content"></div>
	</div>

	<!-- Footer -->
	<footer th:replace="/templates/fragments/_layout-master/footer :: footer"></footer>
	
	<!-- JAVASCRIPT FILES -->
	<!-- jQuery -->
	<script th:src="@{/resources/vendors/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/resources/vendors/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>
	
	<!-- Javascript individual das páginas -->
	<th:block layout:fragment="self-page-javascripts"></th:block>
</body>
</html>