<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>PRWSTJ</title>
	
	<!-- Bootstrap  -->
	<link th:href="@{/resources/vendors/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<!-- Header -->
	<footer th:replace="/templates/fragments/_layout-master/header :: header"></footer>
	
	<!-- Conteúdo -->
	<div layout:fragment="content"></div>
	
	<!-- Footer -->
	<footer th:replace="/templates/fragments/_layout-master/footer :: footer"></footer>
	
	<!-- JAVASCRIPT FILES -->
	<!-- jQuery -->
	<script th:src="@{/resources/vendors/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/resources/vendors/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>
	
	<!-- Javascript individual das páginas -->
	<th:block layout:fragment="self-page-javascripts"></th:block>
</body>
</html>